@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-lg-0">
                <div class="info-panel">
                    <h3 class="text-primary">Classic Brick</h3>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-lg-0">
                <div class="info-panel">
                    <h3 class="text-primary">Products</h3>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-lg-0">
                <div class="info-panel">
                    <h3 class="text-primary">Contact Us</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copy-right text-center">
    <div class="container">
        <p class="mb-0 fonts-20">
            © @DateTime.Now.Year.ToString() The Classic Brick Company Ltd | All Rights Reserved | <a href="/privacy-policy/">
                Privacy
                Policy
            </a> | <a href="/cookies-policy/">Cookies Policy</a>
        </p>
        <p class="mb-1">Registered in England: 6546115 | VAT No: 348 3496 66</p>
        <small>
            <span class="text-small">
                Website Designed by <a class="text-small" href="https://gigatree.co.uk/" target="_blank">
                    Gigatree
                </a>
            </span>
        </small>
    </div>
</section>